$incorrect-orange-light:rgba(250, 145, 97, 0.7);
$incorrect-orange-dark: rgba(247, 59, 28, 0.69);

$correct-teal-light: #47e4c1;
$correct-teal-dark: #07cddd;

$min-medium-screen: only screen and (min-width: 720px);
$small-screen: only screen and (max-width: 719px);
$mobile-screen: only screen and (max-width: 420px);